footer {
    background: #003366;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    border-top: 2px solid #FFD700;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
}

.footer-social-icons img {
    height: 25px;
    width: auto;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

    .footer-links a:hover {
        color: #FFD700;
    }

.carousel-container {
    overflow: hidden;
    width: 200px;
    position: relative;
}

.carousel {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: carouselMove 10s linear infinite;
}

    .carousel img {
        height: 40px;
        width: auto;
    }

@keyframes carouselMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
