html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.twitter-feed-overlay {
    position: absolute;
    top: 80%; /* Centered vertically on the hero */
    left: 90%; /* Centered horizontally */
    transform: translate(-50%, -50%); /* Ensures perfect centering */
    width: 300px;
    height: 400px;
    z-index: 5; /* Ensures it stays on top */
    background: rgba(255, 255, 255, 0.9); /* Slight white transparency */
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

    /* Adjusting Twitter embed */
    .twitter-feed-overlay .twitter-timeline {
        width: 100% !important;
        height: 100% !important;
        border-radius: 10px;
    }