<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Hero.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Calendar.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)

</head>
<body>
    @await Html.PartialAsync("Header")
    <div class="container">
        @RenderBody()
    </div>
    <script>
        setInterval(function () {
            document.querySelector(".twitter-feed iframe").src = document.querySelector(".twitter-feed iframe").src;
        }, 30000); // Refresh every 30 seconds
    </script>
    @await Html.PartialAsync("Footer")
    <script src="~/js/calendar.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    @* <script src="~/js/carousel.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
