<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<footer class="site-footer">
    <div class="footer-container">
        <!-- Left section: Logo & Socials -->
        <div class="footer-column footer-brand">
            <a href="/" class="footer-logo-link">
                <img src="/Assets/Images/PASS_Logo_Transparent.png" alt="PASS Logo" class="footer-logo">
            </a>
            <div class="footer-social">
                <a href="https://www.instagram.com/passltd_social/" target="_blank" aria-label="Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://x.com/ltd_pass" target="_blank" aria-label="Twitter">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="http://www.youtube.com/@@passltd8383" target="_blank" aria-label="YouTube">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>

        <!-- Center section: General Links -->
        <div class="footer-column footer-links">
            <ul>
                <li><a href="/termsandconditions">Terms & Conditions</a></li>
                <li><a href="/privacypolicy">Privacy Policy</a></li>
                <li><a href="/legal">Legal</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/faq">FAQs</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/testamonials">Testimonials</a></li>
                <li><a href="/schools-we-work-with">Schools We Work With</a></li>
            </ul>
        </div>

        <!-- Right section: Staff Area & Copyright -->
        <div class="footer-column footer-staff">
            <a href="/staffarea" class="staff-button">Staff Area</a>
            <p class="footer-copyright">&copy; 2025 PASS Ltd. All rights reserved.</p>
        </div>
    </div>

    <!-- Full-width carousel -->
    <div class="logos">
        <div class="logos-slide">
            <img src="/Assets/Images/Youth_Sport_Trust.png" alt="Brand 1">
            <img src="/Assets/Images/lta-general-use-logo.svg" alt="Brand 2">
            <img src="/Assets/Images/mlb.svg" alt="Brand 3">
            <img src="/Assets/Images/FA_GFSP_Logo_RGB.png" alt="Brand 4">
            <img src="/Assets/Images/kcc-logo.svg" alt="Brand 5">
            <img src="/Assets/Images/bikeability.png" alt="Brand 6">
            <img src="/Assets/Images/balanceability.png" alt="Brand 7">
            <img src="/Assets/Images/nhs-uk-logo.svg" alt="Brand 8">
            <img src="/Assets/Images/kent-county-cricket-club-logo.svg" alt="Brand 9">
            <img src="/Assets/Images/gymnastics.png" alt="Brand 10">
            <img src="/Assets/Images/British-dodgeball-logo-colour.png" alt="Brand 11">
            <img src="/Assets/Images/AFC-Logo-small.jpg" alt="Brand 12">
            <img src="/Assets/Images/stonescommunity.png" alt="Brand 13">
            <img src="/Assets/Images/aylesford_bulls.png" alt="Brand 14">
        </div>
        <div class="logos-slide">
            <img src="/Assets/Images/Youth_Sport_Trust.png" alt="Brand 1">
            <img src="/Assets/Images/lta-general-use-logo.svg" alt="Brand 2">
            <img src="/Assets/Images/mlb.svg" alt="Brand 3">
            <img src="/Assets/Images/FA_GFSP_Logo_RGB.png" alt="Brand 4">
            <img src="/Assets/Images/kcc-logo.svg" alt="Brand 5">
            <img src="/Assets/Images/bikeability.png" alt="Brand 6">
            <img src="/Assets/Images/balanceability.png" alt="Brand 7">
            <img src="/Assets/Images/nhs-uk-logo.svg" alt="Brand 8">
            <img src="/Assets/Images/kent-county-cricket-club-logo.svg" alt="Brand 9">
            <img src="/Assets/Images/gymnastics.png" alt="Brand 10">
            <img src="/Assets/Images/British-dodgeball-logo-colour.png" alt="Brand 11">
            <img src="/Assets/Images/AFC-Logo-small.jpg" alt="Brand 12">
            <img src="/Assets/Images/stonescommunity.png" alt="Brand 13">
            <img src="/Assets/Images/aylesford_bulls.png" alt="Brand 14">
        </div>
    </div>
</footer>
