<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<footer class="site-footer">
    <div class="footer-container">
        <!-- Left section: Logo & Socials -->
        <div class="footer-column footer-brand">
            <a href="/" class="footer-logo-link">
                <img src="/Assets/Images/PASS_Logo_Transparent.png" alt="PASS Logo" class="footer-logo">
            </a>
            <div class="footer-social">
                <a href="https://www.instagram.com/passltd_social/" target="_blank" aria-label="Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://x.com/ltd_pass" target="_blank" aria-label="Twitter">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="http://www.youtube.com/@@passltd8383" target="_blank" aria-label="YouTube">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>

        <!-- Center section: General Links -->
        <div class="footer-column footer-links">
            <ul>
                <li><a href="/termsandconditions">Terms & Conditions</a></li>
                <li><a href="/privacypolicy">Privacy Policy</a></li>
                <li><a href="/legal">Legal</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/faq">FAQs</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/testamonials">Testimonials</a></li>
                <li><a href="/schools-we-work-with">Schools We Work With</a></li>
            </ul>
        </div>

        <!-- Right section: Staff Area & Copyright -->
        <div class="footer-column footer-staff">
            <a href="/staffarea" class="staff-button">Staff Area</a>
            <p class="footer-copyright">&copy; 2025 PASS Ltd. All rights reserved.</p>
        </div>
    </div>

    <!-- Full-width carousel -->
    <div class="logos">
        <div class="logos-slide">
            <a href="https://www.youthsporttrust.org/" target="_blank">
                <img src="/Assets/Images/Youth_Sport_Trust.png" alt="Youth Sport Trust Logo">
            </a>
            <a href="https://www.lta.org.uk/" target="_blank">
                <img src="/Assets/Images/lta-general-use-logo.svg" alt="LTA Logo">
            </a>
            <a href="https://www.mlb.com/" target="_blank">
                <img src="/Assets/Images/mlb.svg" alt="MLB Logo">
            </a>
            <a href="https://www.girlsfootballinschools.org/" target="_blank">
                <img src="/Assets/Images/FA_GFSP_Logo_RGB.png" alt="Barclays Girls Football Schools Partnership">
            </a>
            <a href="https://www.kent.gov.uk/" target="_blank">
                <img src="/Assets/Images/kcc-logo.svg" alt="Kent County Council (KCC)">
            </a>
            <a href="https://www.bikeability.org.uk/" target="_blank">
                <img src="/Assets/Images/bikeability.png" alt="Bikeability">
            </a>
            <a href="https://www.balanceability.com/" target="_blank">
                <img src="/Assets/Images/balanceability.png" alt="Balanceability">
            </a>
            <a href="https://www.england.nhs.uk/" target="_blank">
                <img src="/Assets/Images/nhs-uk-logo.svg" alt="NHS England">
            </a>
            <a href="https://www.kentcricket.co.uk/" target="_blank">
                <img src="/Assets/Images/kent-county-cricket-club-logo.svg" alt="Kent Cricket">
            </a>
            <a href="https://www.british-gymnastics.org/" target="_blank">
                <img src="/Assets/Images/gymnastics.png" alt="British Gymnastics">
            </a>
            <a href="https://britishdodgeball.org/" target="_blank">
                <img src="/Assets/Images/British-dodgeball-logo-colour.png" alt="British Dodgeball">
            </a>
            <a href="https://aylesfordfc.co.uk/" target="_blank">
                <img src="/Assets/Images/AFC-Logo-small.jpg" alt="Aylesford FC">
            </a>
            <a href="https://stonesinthecommunity.org/" target="_blank">
                <img src="/Assets/Images/stonescommunity.png" alt="Stones Community Trust">
            </a>
            <a href="https://aylesfordbullsrfc.rfu.club/" target="_blank">
                <img src="/Assets/Images/aylesford_bulls.png" alt="Aylesford Bulls Rugby Club">
            </a>
        </div>

        <!-- Duplicate for seamless infinite scrolling -->
        <div class="logos-slide">
            <a href="https://www.youthsporttrust.org/" target="_blank">
                <img src="/Assets/Images/Youth_Sport_Trust.png" alt="Youth Sport Trust Logo">
            </a>
            <a href="https://www.lta.org.uk/" target="_blank">
                <img src="/Assets/Images/lta-general-use-logo.svg" alt="LTA Logo">
            </a>
            <a href="https://www.mlb.com/" target="_blank">
                <img src="/Assets/Images/mlb.svg" alt="MLB Logo">
            </a>
            <a href="https://www.girlsfootballinschools.org/" target="_blank">
                <img src="/Assets/Images/FA_GFSP_Logo_RGB.png" alt="Barclays Girls Football Schools Partnership">
            </a>
            <a href="https://www.kent.gov.uk/" target="_blank">
                <img src="/Assets/Images/kcc-logo.svg" alt="Kent County Council (KCC)">
            </a>
            <a href="https://www.bikeability.org.uk/" target="_blank">
                <img src="/Assets/Images/bikeability.png" alt="Bikeability">
            </a>
            <a href="https://www.balanceability.com/" target="_blank">
                <img src="/Assets/Images/balanceability.png" alt="Balanceability">
            </a>
            <a href="https://www.england.nhs.uk/" target="_blank">
                <img src="/Assets/Images/nhs-uk-logo.svg" alt="NHS England">
            </a>
            <a href="https://www.kentcricket.co.uk/" target="_blank">
                <img src="/Assets/Images/kent-county-cricket-club-logo.svg" alt="Kent Cricket">
            </a>
            <a href="https://www.british-gymnastics.org/" target="_blank">
                <img src="/Assets/Images/gymnastics.png" alt="British Gymnastics">
            </a>
            <a href="https://britishdodgeball.org/" target="_blank">
                <img src="/Assets/Images/British-dodgeball-logo-colour.png" alt="British Dodgeball">
            </a>
            <a href="https://aylesfordfc.co.uk/" target="_blank">
                <img src="/Assets/Images/AFC-Logo-small.jpg" alt="Aylesford FC">
            </a>
            <a href="https://stonesinthecommunity.org/" target="_blank">
                <img src="/Assets/Images/stonescommunity.png" alt="Stones Community Trust">
            </a>
            <a href="https://aylesfordbullsrfc.rfu.club/" target="_blank">
                <img src="/Assets/Images/aylesford_bulls.png" alt="Aylesford Bulls Rugby Club">
            </a>
        </div>
    </div>

</footer>
