<header class="hero">
    <nav class="navbar">
        <div class="navbar-container">
            <ul class="navbar-nav left">
                <li class="nav-item"><a class="nav-link" href="/bikeability">Bikeability</a></li>
                <li class="nav-item"><a class="nav-link" href="/balanceability">Balanceability</a></li>
                <li class="nav-item"><a class="nav-link" href="/theteam">The Team</a></li>
            </ul>
            <div class="logo-container">
                <img src="/Assets/Images/PASS_Logo_Transparent.png" alt="PASS Logo" class="logo">
            </div>
            <ul class="navbar-nav right">
                <li class="nav-item"><a class="nav-link" href="/memberships">Memberships</a></li>
                <li class="nav-item"><a class="nav-link" href="/homelearning">Home Learning</a></li>
                <li class="nav-item"><a class="nav-link" href="/membersarea">Members Area</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero-content">
        <h1>PASS - Demo Data</h1>
        <p>Demo subtitle data.</p>
        <a href="#learn-more" class="btn">Learn More</a>
    </div>
</header>
