<header class="header">
    <div class="top-banner">
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="/Assets/Images/PASS_Logo_Transparent.png" alt="PASS Logo" class="logo">
            </a>
        </div>
    </div>
    <nav class="menu-bar">
        <ul class="navbar-nav left">
            <li class="nav-item"><a class="nav-link" href="/bikeability">Bikeability</a></li>
            <li class="nav-item"><a class="nav-link" href="/balanceability">Balanceability</a></li>
            <li class="nav-item"><a class="nav-link" href="/underconstruction">Memberships</a></li>
            <li class="nav-item"><a class="nav-link" href="/underconstruction">Events</a></li>
            <li class="nav-item"><a class="nav-link" href="/theteam">The Team</a></li>
            <li class="nav-item"><a class="nav-link" href="/homelearning">Home Learning</a></li>
            <li class="nav-item"><a class="nav-link" href="/underconstruction">Members Area</a></li>
        </ul>
    </nav>
</header>
