<header class="navbar">
    <div class="navbar-container">
        <ul class="navbar-nav left">
            <li class="nav-item"><a class="nav-link" href="/bikeability">Bikeability</a></li>
            <li class="nav-item"><a class="nav-link" href="/balanceability">Balanceability</a></li>
            <li class="nav-item"><a class="nav-link" href="/underconstruction">The Team</a></li>
        </ul>
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="/Assets/Images/PASS_Logo_Transparent.png" alt="PASS Logo" class="logo">
            </a>
        </div>
        <ul class="navbar-nav right">
            <li class="nav-item"><a class="nav-link" href="/underconstruction">Memberships</a></li>
            <li class="nav-item"><a class="nav-link" href="/underconstruction">Home Learning</a></li>
            <li class="nav-item"><a class="nav-link" href="/underconstruction">Members Area</a></li>
        </ul>
    </div>
</header>
